<button (click)="startTimer()">start timer</button>
<button (click)="sendRequest()">send WS request</button>

<button (click)="connect('KD')">connect KD</button>
<button (click)="connect('bad')">connect bad</button>
<button (click)="disconnect()">disconnect</button>
<button (click)="http()">HTTP request</button>
<button (click)="httpTimeout()">HTTP request timeout</button>
<button (click)="httpError()">HTTP request error</button>
<button (click)="mock()">mock</button>
<br/>
state: <span>{{ state }}</span><br/>
hstate: <span>{{ hstate }}</span>
<br/>
<br/>
<div *ngFor="let k of this.packetDataView">

  item {{ k }}
</div>
